html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /*
   * CSS image reference example.
   */
    background-image: url('./images/bg-pattern.png');
}

img {
    display: block;
    width: 40%;
}

.search-box {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 50%;
}

.search-results {
    text-align: left;
}

.country {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#country-name {
    display: inline-block;
    width: 50%;
    height: 30px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    text-align: center;
}

.country__descr {
    text-align: left;
}